* {
  padding: 0;
  margin: 0;
}

nav h1 {
  padding-block: 20px;
  font-size: 2rem;
}

nav {
  background-color: #ffffff;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 4vw;
}
.container {
  font-family: "Nunito Sans", sans-serif;
  padding-inline: 4vw;
  /* height: 100vh; */
  min-height: 100vh;
  background: hsl(0, 0%, 98%);
}

.search-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.country-image {
  width: 100%;
  height: 50%;
  border-radius: 5px 5px 0 0;
  box-shadow: 0px 5px 5px rgba(99, 99, 99, 0.2);
}

.country-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: first baseline;
  column-gap: 3.4vw;
  row-gap: 3.47vw;
  padding-bottom: 3.47vw;
}

.country-card {
  width: 22%;
  height: 40vh;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.detail-section {
  padding-left: 1vw;
}

.country-name {
  font-weight: 800;
}

.sub-detail {
  font-weight: 600;
  margin: 0;
}

.dynamic-sub-detail {
  font-weight: 400;
}

.search-section input {
  padding-left: 20px;
  outline: none;
  border: none;
  width: 25vw;
}
.search-section {
  display: flex;
  border-radius: 5px;
  margin-block: 3vh;
  padding: 20px 0px 20px 30px;
  background: #ffffff;
  font-size: 16px;
}

.search-section-dark {
  display: flex;
  border-radius: 5px;
  margin-block: 3vh;
  padding: 20px 0px 20px 30px;
  background: #2b3743;
  color: #fff;
  font-size: 16px;
}

.search-section-dark input {
  padding-left: 20px;
  outline: none;
  border: none;
  background-color: #2b3743;
  color: #fff;
  width: 25vw;
}
.search-section-dark img {
  filter: invert(100%);
}

.select-section-dark select {
  outline: none;
  border: none;
  /* background-color: #ffffff; */
  cursor: pointer;
  width: fit-content;
}

.select-section select {
  outline: none;
  border: none;
  /* background-color: #ffffff; */
  cursor: pointer;
  width: fit-content;
}
.select-section {
  display: flex;
  flex-direction: row-reverse;
  padding: 10px 10px 10px 10px;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  height: fit-content;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-block: 3vh;
}

.select-section select {
  padding-left: 20px;
  outline: none;
  border: none;
  /* width: 8vw; */
  font-size: 16px;
  border-radius: 5px;
}

.select-section option {
  /* border: #ffffff; */
}

select {
  height: 4vh;
  width: 15vw;
  padding: 0.5rem;
  padding-left: 1rem;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.country-button {
  width: 7rem;
  height: 2rem;
  margin-inline: 0.5rem;
  margin-bottom: 0.5rem;
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}

.starting {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 20px solid #eaf0f6;
  border-radius: 50%;
  border-top: 20px solid #6d4d45;
  width: 200px;
  height: 200px;
  animation: spinner 4s linear infinite;
  /* position: absolute; */
}

.select-section-dark {
  display: flex;
  flex-direction: row-reverse;
  padding: 10px 10px 10px 10px;
  background-color: #2b3743;
  justify-content: center;
  align-items: center;
  color: #fff;
  gap: 10px;
  border-radius: 5px;
  height: fit-content;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-block: 3vh;
}

.select-section-dark select {
  background-color: #2b3743;
  color: #fff;
  outline: #696161;
  border: 1px solid #696161;
}

.back-button {
  width: 7rem;
  height: 2rem;
  margin-block: 3rem;
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.country-page-container {
  padding-inline: 4vw;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  min-height: 100vh;
}

.country-page-detail-container {
  display: flex;
  justify-content: center;
  gap: 10vw;
}

.informations {
  display: flex;
  flex-wrap: wrap;
}

.image-div img {
  width: 40vw;
  height: 40vh;
}

.content-section h2 {
  margin-block: 1.5rem;
  font-size: 2.2rem;
}

.image-div {
  width: 40vw;
}
.points {
  width: 20vw;
  margin-bottom: 1rem;
  font-weight: 600;
  margin-left: 0.5rem;
}

.points span {
  overflow-wrap: break-word;
  font-weight: 200;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error {
  color: red;
  font-size: 2rem;
}

.data-not-fount {
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.border-countery {
  width: 40vw;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

@media screen and (max-width: 480px) {
  .country-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .country-card {
    width: 80%;
    min-height: fit-content;
    height: auto;
  }

  .search-filter {
    flex-direction: column;
    padding-bottom: 1vh;
    gap: 0.5vh;
  }

  .search-section input {
    width: 75vw;
  }

  .search-section-dark input {
    width: 75vw;
  }

  .select-section {
    justify-content: space-between;
    width: 94%;
    margin: 0;
  }
  .select-section-dark {
    justify-content: space-between;
    width: 94%;
    margin: 0;
  }

  .select-section select {
    width: 60vw;
  }
  .select-section-dark select {
    width: 60vw;
  }

  .loader {
    /* top: 60%; */
  }
  .data-not-fount {
    /* top: 60%; */
  }
  select {
    height: fit-content;
  }

  .detail-section {
    padding-left: 5vw;
    padding-top: 5vw;
  }

  nav h1 {
    padding-block: 20px;
    padding-inline: 4vw;
    font-size: 1rem;
  }

  .country-page-container{
    gap: 2rem;
  }

  .country-image {
    height: 20vh;
  }
  .country-page-detail-container {
    flex-direction: column;
  }

  .image-div{
    width: 100%;
  }
  .image-div img{
    width: 100%;
  }

  .informations{
    flex-direction: column;
  }
  .points{
    width: 100%;
  }
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}